// ==Adaptive Sizes==
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

$screen-sx-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199;
// ==/Adaptive Sizes==

// ===Common===
@mixin fontPoppinsLight{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

@mixin fontPoppinsRegular{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

@mixin fontPoppinsSemiBold{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

@mixin fontPoppinsBold{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

@mixin btnYellow {
    @include fontPoppinsSemiBold;
    font-size: 1.2rem;
    outline: none;
    border: none;
    border-radius: 3em;
    text-decoration: none;
    padding: 1em 3em;
    text-transform: uppercase;
    background: var(--color-second);
    color: var(--color-main);
    border: .25em solid var(--color-second);
    box-shadow: 0 .5em 10px 0 var(--color-second);

}

@mixin btnWhite {
    text-transform: uppercase;
    text-decoration: none;
    @include fontPoppinsSemiBold;
    font-size: 1.2rem;
    outline: none;
    border-radius: 3em;
    padding: 1em 3em;
    color: var(--color-light);
    background: none;
    border: .25em solid var(--color-light);
}
// ===/Common===

//===Variables===
:root{
    // ==Common==
    --color-light: #fff;
    --color-dark: #222;
    --color-bg: #fff;
    --color-main-num: 0;
    --color-main: hsl(var(--color-main-num), 100%, 36%);
    --color-main-dark: hsl(var(--color-main-num), 100%, 30%);
    --color-main-light: hsl(var(--color-main-num), 100%, 22.5%);
    --color-second: #ffcc00;
    --transitionTime-select-location: .2s;

    //==/Common==

    //==Header==
    //==/Header==
}
//===/Variables===
